<!-- templates/players/teams_list.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teams List</title>
</head>
<body>
    
</body>
</html>


<!-- templates/home.html -->

{% extends 'myteam/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <h1>Teams List</h1>
    <ul>
        {% for team in teams %}
            <li><a href="{% url 'team_players' team.year %}">Team {{ team.year }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

